<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robot.pocket_chef">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.RecipesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StepDescriptionActivity"
            android:parentActivityName=".activities.RecipesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.robot.pocket_chef.activities.RecipesActivity" />
        </activity>
        <activity
            android:name=".activities.StepInstructionActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activities.StepDescriptionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.robot.pocket_chef.activities.StepDescriptionActivity" />
        </activity>

        <receiver android:name="com.example.robot.pocket_chef.widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/pocket_chef_widget_info" />
        </receiver>

        <service
            android:name=".widget.WidgetListService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>



</manifest>